/* --base-color: #f3f3f3; */
/* --base-color: #f8f9fa; */
/**/
/* --primary-color: var(--base-color); */
/**/
/* --white-color: #ffffff; */
/* --base-color-1: var(--white-color); */
/* --base-color-2: var(--base-color); */
/**/
/* --lighth-green: #e7f8ee; */
/* --dark-green: #2ba46e; */
/**/
/* --lighth-blue: #e6f4fe; */
/* --dark-blue: #1c7cc3; */
/**/
/* --lighth-yellow: #fdf9dc; */
/* --dark-yellow: #e69739; */
/**/
/* --ligth-red: #feefef; */
/**/
/* --border-color: #e9ebef; */
/**/
/* --outer-radius: 20px; */
/**/
/* --dark-font: #434343; */
/* --light-font: #84878a; */
/**/
/* --field-color: white; */
